<div class="row align-center">
    <div class="small-7 columns">
        <h2>Chi siamo</h2>
    </div>
</div>
<div class="row align-center">
        <!-- <div class="small-12 medium-6 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/080dffa73cb4cb9b2d363863b427da51b0502cb8_logo_family_vision.jpg">
        </div> -->
        <div class="small-12 medium-7 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/080dffa73cb4cb9b2d363863b427da51b0502cb8_logo_family_vision.jpg">
            <p>
                Uno staff altamente qualificato con una selezionata collaborazione multidisciplinare che condivide un’approfondita conoscenza professionale per garantire un’efficace ed immediata risoluzione ad ogni specifica esigenza.
            </p>
            <p>
                Dalla continua ricerca clinica e dall’innovazione dei concetti e delle tecniche educative in ambito visivo funzionale sono nate idee e brevetti per la realizzazione di strumenti e soluzioni per il training visivo.
            </p>
            <p>
                Le nostre ideazioni sono presenti in 18 Università e presso gli studi professionali di colleghi nazionali, EU, US.
            </p>

        </div>

</div>