<div class="row align-center">
    <div class="small-7 columns">
        <h2>Chi siamo</h2>
    </div>
</div>
<div class="row align-center">
        <!-- <div class="small-12 medium-6 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/080dffa73cb4cb9b2d363863b427da51b0502cb8_logo_family_vision.jpg">
        </div> -->
        <div class="small-12 medium-7 columns">
            <img src="https://prismic-io.s3.amazonaws.com/optometrista/080dffa73cb4cb9b2d363863b427da51b0502cb8_logo_family_vision.jpg">
            <p>
                Il nostro è uno Staff altamente qualificato con un’evoluta conoscenza professionale in ambito visivo funzionale che permette, in collaborazione multidisciplinare, di garantire un’efficace ed immediata risoluzione ad ogni specifica esigenza.
            </p>
            <p>
                L’innovazione delle nostre idee, tra cui il brevettato Dispositivo OPROPRISMETHOD™, nasce dalla continua ricerca clinica e dalla rivisitazione dei concetti classici e delle tradizionali tecniche educative.
            </p>
            <p>
                Le nostre ideazioni sono presenti in 18 Università e presso gli studi professionali di colleghi nazionali, EU, US.
            </p>

        </div>

</div>