<div class="row">
    <div class="small-12 medium-5 columns">
        <div class="row">
            <div class="columns small-12">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/271fbb2e1b42f7e2d6832b9d3cf5d752b841667f_logodispositivomedicoscritta.png">
            </div>
        </div>
        <div class="row">
            <div class="columns small-12">
                <img src="https://prismic-io.s3.amazonaws.com/optometrista/fb024dc97e42e91b4b2cc82722064930d800c33d_opm-immagine-002.jpg">
            </div>
        </div>
    </div>
    <div class="small-12 medium-7 columns">
        <h3 class="subheader">Un metodo scientifico</h3>
        <p>
            Un protocollo di raccolta ed analisi dei disagi consente di approcciare in modo olistico per verificare, prevenire, educare ed evitare i fastidi che ti affliggono tutti i giorni.<br>
            Nel nostro studio eseguiamo:
            <ul>
                <li>
                    Serie completa di test funzionali legati alla lettura ed all’uso del computer
                </li>
                <li>
                    Ricerca di un’eventuale interferenza del sistema visivo sulle tensioni muscolari collo-spalle-bocca
                </li>
                <li>
                    Educazione visiva
                </li>
                <li>
                    Controlli periodici al fine di valutare i progressi
                </li>
            </ul>
        </p>
        <h3 class="subheader">Il Dispositivo per l’Armonia Visiva</h3>
        <p>
            In molti soggetti lo stress visivo può essere <strong>eliminato</strong> o ridotto al minimo attraverso l'uso del <i><strong>Dispositivo OPTOPRISMETHOD™</strong> con lenti per l’armonia visiva (Dispositivo Medico Classe 1)</i>.
        </p>

        <h3 class="subheader">Il nostro Metodo OPTOPRISMETHOD™</h3>
        <p>
            I disagi possono essere risolti attraverso l'<strong>armonizzazione visiva</strong> finalizzata a:
            <ul>
                <li>
                    <i>Destrutturare</i> lo squilibrio creato dall’eccessivo lavoro visivo da vicino e al computer
                </li>
                <li>
                    <i>Riprogrammare</i> una nuova armonia che bilancia il rapporto con il sistema muscolare e posturale
                </li>
                <li>
                    <i>Mantenimento</i> del benessere fisico, mentale ed energetico acquisito
                </li>
            </ul>
        </p>

    </div>
</div>