---
title: >
        Optometria comportamentale

description: >
        Da inserire

testata:
    prima_riga: Lavori al Computer?
    hasButton: 0
    seconda_riga: >
            Sei spesso stanco e affaticato?<br>
            <i>Ecco la soluzione ai tuoi problemi!</i>

immagineTestata: https://prismic-io.s3.amazonaws.com/optometrista/b31407e29f9614c1746f79f81ef197d710a215ec_lavoro-al-pc.jpg

headCode: >

conversionCode: >

---
<div class="spazio_bianco"></div>

<div class="row">
        <div class="small-12 medium-6 large-6 columns box_domande">
            <h4>Quando sei dietro ad uno schermo:</h4>
            <hr>
            <ul>
                <li>
                    Ti capita di avere mal di testa?
                </li>
                <li>
                    Hai gli occhi irritati o affaticati?
                </li>
                <li>
                    Hai mal di schiena o ti senti rigidità?
                </li>
            </ul>
        </div>
        <div class="large-1 arrow-right show-for-large">

        </div>
        <div class="medium-6 large-5 columns center">
            <h4 class="subheader">Possiamo risolvere i tuoi problemi:</h4>
            <hr>
            <%= partial "partials/rowCallToAction" %>
        </div>
</div>